/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.blush{

 background: rgba(160,160,160,0.2);
  margin: auto;
  padding: 10px;
  border-radius: 5px;

}

.error_message{
  padding: 10px;
  background: rgba(250, 111, 103, 0.80);
  border-radius: 5px;
  color: #fff;
  margin: 5px;

}

.modal.in{
  //position: absolute;
  padding: 20px;
 background: rgba(255,255,255,1);
}

